﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.trash {
    color: rgb(209, 91, 71);
}

.flag {
    color: rgb(248, 148, 6);
}

.panel-body {
    padding: 0px;
}

.panel-footer .pagination {
    margin: 0;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-body .radio, .checkbox {
    display: inline-block;
    margin: 0px;
    width: 90%;
}

.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0px;
}

.full-item {
    width: 100%;
}

    .full-item input[type=text] {
        width: 100%;
        max-width: 100%;
    }

.edit-buttons {
    margin-top: 3px;
}

.edit-mode .edit-buttons {
    margin-top: 7px;
}

.action-buttons .loading-spinner {
    margin-top: 9px;
}

.row label {
    font-weight: normal;
}

.row .checked label {
    text-decoration: line-through;
    color: #ccc;
}
