﻿@{
    ViewBag.Title = "Index";
}

<h2>Todo</h2>
@section Javascript{
    
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Todo Lists
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item edit-mode">
                            <div class="row">
                                <div class="col-md-8">
                                    <input id="textbox1" type="text" class="form-control" />
                                </div>
                                <div class="col-md-2 action-buttons">
                                    <input type="button" class="btn btn-info" value="New" />
                                </div>
                                <div class="col-md-2 action-buttons">
                                    <div class="loading-spinner">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item edit-mode">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="loading-spinner">
                                        <div class="spinner">
                                            <div class="rect1"></div>
                                            <div class="rect2"></div>
                                            <div class="rect3"></div>
                                            <div class="rect4"></div>
                                            <div class="rect5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item edit-mode">
                            <div class="row">
                                <div class="col-lg-1">
                                    <input type="checkbox" id="checkbox1" />
                                </div>
                                <div class="col-lg-9">
                                    <label for="checkbox1">
                                        List group item heading 1
                                    </label>
                                    <input id="textbox" type="text" value="List group item heading 1" class="form-control" />
                                </div>
                                <div class="col-lg-2 edit-buttons">
                                    <a><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-1">
                                    <input type="checkbox" id="checkbox2" />
                                </div>
                                <div class="col-lg-9 checked">
                                    <label for="checkbox2">
                                        List group item heading 2
                                    </label>
                                </div>
                                <div class="col-lg-2 edit-buttons">
                                    <a><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>
                                Total Count : 2
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            BootSnippet from : <a href="http://bootsnipp.com/snippets/featured/admin-lists-panel" target="_blank">http://bootsnipp.com/snippets/featured/admin-lists-panel</a><br/>
            CSS3 loading animation from : <a href="http://tobiasahlin.com/spinkit/" target="_blank">http://tobiasahlin.com/spinkit/</a>
        </div>
    </div>
</div>